* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
main {
    height: 100%;
    width: 100%;
}

body {
    background-color: #FFF;
    font-family: 'Saira Condensed', sans-serif;

}

.header {
    display: flex;
    text-align: center;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.logo {
    position: absolute;
    left: 46px;
    top: 15px;
}

.socials {
    position: absolute;
    right: 3%;
    top: 15px;
}

.socials img {
    margin: 2px;
}

.link {
    min-width: 200px;
    color: #685040;
    display: inline-block;
    border-right: 1px solid black;
    font-size: 30px;
    
}
.search {
    width: 800px;
    height: 56px;
    margin: 10px 10px 30px 110px;
    padding: 14px 6px 14px 40px;
    border: 1px solid #e7decf;
    background: #fff;
    color: #685040;
    border-radius: 4px;
    font-size: 24px;
}
.images {
    display: flex;
    flex-wrap: wrap;


}
.teas{
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.descript {
    margin: 0;
    text-align: center;
    font-size: 16px;
}